pip
git+git://github.com/Rapptz/discord.py.git#egg=discord.py[voice]
youtube_dl
imgurpython
python-dateutil
pytz
tabulate
aiohttp
dota2py
beautifulsoup4
git+git://github.com/Holiverh/python-valve.git
rfc3987